  /* FONTS
  /* font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif; */

  /* обнуляюющие стили */
* {
padding: 0;
margin: 0;
border: 0;
}
*, *::before, *:after {
box-sizing: border-box;
}
:focus, :active {
outline: none;
} 
a:focus, a:active {
outline: none;
} 
a {
color: inherit;
}
nav, footer, header, aside {
display: block;
} 
html, body {
/* overflow-x: hidden; */
height: 100%;
width: 100%;
font-size: 100%;
line-height: 1;
font-size: 14px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
input, button, textarea {
font-family: inherit;
}
input::-ms-clear {
display: none;
}
button {
cursor: pointer;
}
button::-moz-focus-inner {
padding: 0;
border: 0;
}
a, a:visited {
text-decoration: none;
} 
a:hover {
text-decoration: none;
}
img {
vertical-align: top;
} 
h1, h2, h3, h4, h5, h6 {
font-size: inherit;
font-weight: 400;
}
ul li {
list-style: none;
}  
.none{
  display: none;
}

body{
  font-family: 'Montserrat', sans-serif;
  line-height: normal;
  font-style: normal;
  font-weight:500;
  color:  #050C33;
  line-height: 122%;
  font-size: 16px;
}

.container {
  max-width: 540px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.title{
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}
@media screen and  (min-width: 800px) {
  .title{
    font-size: 42px;
    margin-bottom: 60px;
  }
  .container{
    max-width: 1200px;
  }

  
}

/* ----------------------------------------------  HEADER  ----------------------------------------------- */
.header{
  overflow: hidden;
  color:#fff;
  position: relative;
  margin-bottom: 50px;
}
.video{
  position: absolute;
  z-index: -10;
  min-height: 100%;
}
.bg-video{
  position: absolute;
  z-index: -11;
  min-height: 100%;
  min-width: 100%;
}
.background-header{
  position:absolute; 
  left: 25%;
  top: -60%;
  z-index: -1;
  transform: translate(-60%);
}

.header__body {
display: flex;
flex-direction: column;
font-size: normal;
font-weight: 400;
color:#fff;
padding-top: 50px;
}
.header__text1 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-bottom: 100px;
}
.header__title {
text-align: center;
font-size: 48px;
line-height: 115.385%; 
margin-bottom: 15px;
color:#fff;
}
.header__text1 p{
text-align: center;
font-size: 18px;
line-height:155.556% ; 
opacity: 0.8;
}
.tariff {
font-size: 12px;
line-height: 100%; 
letter-spacing: 0.72px;
text-transform: uppercase;
text-align: center;
display: block;
border: 2px solid #F14D34;
width: 220px ;
height: 60px;
border-radius: 5px;
margin-top: 55px;
display: flex;
flex-direction: column;
justify-content: center;
}

.header__text2 {
display: flex;
flex-direction: row;
justify-content: center;
padding-left: 20px;
}

.item__row {
display: flex;
flex-direction: column;
padding-right: 30px;
}

.header__item {
width: 150px;
height: 100px;
position: relative;
margin-bottom: 20px;
}
.header__item::before{
content: " ";
width: 3px;
height: 100%;
background-color: #F14D34;
position: absolute;
top:0;
left: -10px;
}
.tariff:hover{
  background-color: #F14D34;
}

.item__title {
padding: 5px 0;
font-size: 24px;
font-weight: 700;
}
.item__text {
font-size: 12px;
font-weight: 500;
opacity: 0.7;
}
.title-big{
margin-top: 0px;
font-size: 48px;
font-weight: 700;
position: relative;
}
.cup-item{
position: absolute;
bottom: 10px;
right: 50%;
transform: translateX(100%);
}


@media screen and  (min-width: 800px) {
  .header{
    min-height: 650px;
  }
  .container{
    height: 100%;
  }
  .header__body {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 0px ;
    align-items: center;
    align-self: center;
    margin-top: 90px;
  }
  .video{
    height: auto;
    min-width: 100%;    
  }
  .header__text1 {
    max-width: 560px;
    margin-right: 70px;
    padding-bottom: 0px;
    align-items: start;
  }
  .background-header{
    position:absolute; 
    left: 25%;
    top: -60%;
    z-index: -1;
    transform: translate(-60%);
  }
  .header__title {
    text-align: left;
    font-size: 52px;
  }
  .header__text1 p{
    text-align: left;
  }
  .header__text2 {
    flex-direction: column;
    padding-left: 0px;
  }
  .item__row {
    flex-direction: row;
    margin-top: 90px;
    padding-right: 0px;
  }
  .item__row .header__item+.header__item{
    margin-left: 30px;
  }
  .header__item {
    margin-bottom: 0px;
    width: 100%;
  }
  .item__title {
    padding: 10px 0;
  }
}

  /* -------------------------------------------------SERVICES --------------------------------------------------*/
.services {
  line-height: 137.5%; 
  margin-bottom: 90px;
}
.services-heading {
  margin-bottom: 20px;
}
.services-title {
  margin-bottom: 20px;
  text-align: left;
}
.services__cards {
  display: flex;
  flex-wrap: wrap;
}
.services__item {
  padding: 5px;
  width:50%;
  display: flex;
  flex-direction: column;
}
.item__img {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.img__wrapper{
  display: block;
  width: 200px;
  text-align: center;
  position: relative;
}
.img__wrapper::before{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(./img/services/icon-bg.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
@media screen and  (min-width: 800px) {
  .services{
    margin-bottom: 160px;
  }
  .services-heading {
    max-width: 580px;
    margin-bottom: 60px;
  }
  .services-title {
    margin-bottom: 20px;
  }
  .services__item{
    width: 25%;
  }
 
}

/* ---------------------------------------------------SUPPORT---------------------*/
.support {
  margin-bottom: 90px;
}
.support__cards{
margin-bottom: 30px;
}
.support__cards .card__wrapper+*{
  margin-top: 10px;
}
.support__title {
  text-align: center;
}
.support__info{
  padding: 30px;
}

.card__wrapper {
  box-shadow: 5px 5px 5px 0px rgba(188, 188, 188, 0.5);
  padding: 10px 40px 40px 5px;
  position: relative;
  background-color: #fff;

}
.card__number {
  font-size: 12px;
  font-weight: 700;
  opacity: 0.5;
  margin-bottom: 10px;
}
.card__title {
  text-align: left;
  font-size: 18px;
  margin-bottom: 10px;
}
.card__text {
  opacity: 0.7;
  position: relative;
  z-index: 2;
}
.card__wrapper img{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.laptop{
  position: absolute;
  width: 370px;
  bottom: -80px;
  left: 0;
}
.wrapper__support{
  position: relative;
}
.wrapper__support::before{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 650px;
  bottom: 0;
  right: 0;
  background-color: #394047;
  z-index: -1;
}
.support__expert {
  height: 500px;
  position: relative;
}
.background__support{
  width: 80%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.expert__title {
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
 
}
.expert__items {
  display: flex;
  flex-direction: column;
}
.expert__items *+*{
  margin-top: 20px;
}
.item__expert {
  margin-left: 17px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 137.5%; 
  position: relative;
  opacity: 0.7;
}
.item__expert::before{
  content: " ";
  width: 3px;
  height: 100%;
  background-color: #F14D34;
  position: absolute;
  top:0;
  left: -10px;
}

@media screen and  (min-width: 800px) {
  .support{
    margin-bottom: 160px;
  }
  .support__cards{
    margin-bottom: 70px;
  }
  .expert__title{
    padding-bottom: 20px;
  }
  .support__info{
    padding: 0px;
  }
  .supports__row{
    display: flex;
    flex-wrap: wrap;
  }
  .supports__row{
    justify-content: space-between;
  }
  .supports__row .card__wrapper+*{
    margin-top: 0px;
  }
  .card__wrapper{
    padding: 20px;
    width: 23%;
    margin-bottom: 15px;
  }
  .card__title{
    font-size: 18px;
  }
  .wrapper__support::before{
    height: 650px;
  }
  .laptop{
    width: 550px;
    bottom: -130px;
  }
  .support__expert {
    height: 450px;
    padding-bottom: 0;
    padding-right: 0;
    position: relative;
  }
  .expert__info{
    margin-left: 50%;
    max-width: 550px;
    position: absolute;
    bottom: 150px;
    right: 0;
    max-width: 850px;
  }
  .expert__items {
    flex-direction: row;
  }
  .expert__items *+*{
    margin-top: 0px;
    margin-left: 30px;
  }

}

/* -------------------------------------------------RATE----------------------------------------------------- */
.rates {
  padding-top: 10px ;
  margin-bottom: 80px;
  position: relative;
 
}
.rates::before{
  content: "";
  width: 100%;
  height: 100%;
  background-image: url('./img/rates/bg-rates.png') ;
  position: absolute;
  top: -90px;
  right: 0;
  z-index: -10;
  
  
}

.rates__cards .item__rates+*{
  margin-top: 30px;
}

.item__wrapper{
  border: 1px solid rgba(0, 0, 0, 0.2) ;
  padding: 60px;
  border-radius: 5px;
  box-shadow: 2px 0px 3px 0px #b0adad;
}
.item__rates{
  background-color: #fff;
}


.rate__heading {
  width: 100%;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.2) ;
  margin-bottom: 48px;

}
.rate__title {
  color:  #F14D34;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}
.rate__cost {
  font-size: 62px;
  font-weight: 700;
  line-height: 72px;
  text-transform: uppercase;
  margin-bottom: 10px;
  
}
.rate__cost span{
  position: relative;
}
.rate__cost span::after{
  content: "P";
  width: 20px;
  height: 2px;
  font-size: 30px;
  color: #050C33;
  position: absolute;
  top: 0px;
  right: -20px;
}
.rate__time {
  margin-bottom: 20px;
}
.rate__text {
  line-height: 22px;
  opacity: 0.7;
}
.rate__text li{
  position: relative;
  padding-left: 30px;
}

.rate__text li::before{
  content: " ";
  width: 20px;
  height: 20px;
  background-image: url('./img/rates/arrow.svg');
  background-repeat: no-repeat;
  
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.rate__text li+li{
  margin-top: 15px;
}
.btn__rate {
  margin-top: 35px;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #F14D34;
  color: #F14D34;;
  font-weight: 600;
  text-align: center;
  font-size: 12px;
  line-height:  100% ;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  padding: 24px 0px;
  transition: all 0.2s ease-in;


}
.btn__rate:hover{
  color: #fff;
  background-color:#F14D34;;

}

.rates__footer {
  
  text-align: center;
  max-width: 470px;
  margin: 50px auto 0;
}
.individ__rate {
  
  text-align: center;
  display: inline-block;
  margin-top: 26px;
  text-decoration: underline;
}
.rates__footer span{
  opacity: 0.5;
}

@media screen and (min-width:800px) {
  .rates::before{
    top: -160px;
    right: -40%;
    background-repeat: no-repeat;
    
  }

  .rates__cards {
    display: flex;
    flex-direction: row;
 
    flex-wrap: wrap;
   
  }
  .item__rates{
    max-width: 420px;
    width: 33%;
  }
  .rates__cards .item__rates+*{
    margin-top: 0px;

  }
  .item__wrapper{
    margin: 3px;
    padding: 30px;
    background-color: #fff;
    transition: all 0.2s ease-in;
  
  }
  .item__wrapper:hover{
    width: 105%;
    height: 105%;
    top: -15px;
    left: -10px;
    position: relative;
    z-index: 10;
    box-shadow: 1px 5px 15px 1px #868585;
  }
  .item__rates{
    position: relative;
  }
  .btn__rate {
    margin-top: 35px;
  }

}
@media screen and (min-width:990px) {
  .item__wrapper{
    padding: 60px;
  }
  .btn__rate {
    margin-top: 75px;
  }
}

/*------------------------------------------REVIEWS-----------------------------------------------------*/
.reviews{
  margin-bottom: 90px;
}
.reviews__heading {
width: 100%;
margin-bottom: 55px;
}
@media screen and (min-width:800px) {
  .reviews__heading {
    margin-bottom: 100px;
  }
  
}
.reviewsFULL{
  background: url(./img/reviews/right-quote-sign.svg) no-repeat;
  background-size: 20%;
  background-position: left top;
 
}

@media screen and (min-width:800px) {
  .reviewsFULL {
    background-position: left top;
  }
}

.review {
  padding-top: 55px;
  margin-bottom: 110px;
}

@media (min-width: 768px) {
  .review {
    padding-top: 90px;
    margin-bottom: 160px;
  }
}


.reviews_double {
  width: 980px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media screen and (min-width:800px) {
  .reviews_double {
    margin-top: 56px;
  }
}

.reviews_block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  z-index: 10;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .1);
  box-sizing: border-box;
  box-shadow: 0 4px 60px rgba(162, 162, 162, .25);
  border-radius: 5px;
  padding: 15px;
  margin-top: 30px;
}

.reviews_double::before {
  content: "";
  display: block;
  background: #fff;
  opacity: .5;
  border: 1px solid rgba(0, 0, 0, .1);
  box-sizing: border-box;
  box-shadow: 0 4px 60px rgba(162, 162, 162, .25);
  border-radius: 5px;
  position: absolute;
  top: -15px;
  bottom: 0;
  left: 15px;
  right: 15px;
  z-index: 5;
}

@media (min-width: 601px) {
  .reviews_double::before {
    left: 34px;
    right: 34px;
    top: -25px;
  }
}

@media (min-width: 992px) {
  .reviews_double::before {
    left: 64px;
    right: 64px;
    top: -40px;
  }
}

.reviews_double::after {
  content: "";
  display: block;
  background: #fff;
  opacity: .34;
  border: 1px solid rgba(0, 0, 0, .1);
  box-sizing: border-box;
  box-shadow: 0 4px 60px rgba(162, 162, 162, .25);
  border-radius: 5px;
  position: absolute;
  top: -30px;
  bottom: 0;
  left: 30px;
  right: 30px;
  z-index: 4;
}

@media (min-width: 601px) {
  .reviews_double::after {
    top: -48px;
    left: 68px;
    right: 68px;
  }
}

@media (min-width: 992px) {
  .reviews_double::after {
    left: 128px;
    right: 128px;
    top: -72px;
  }
}

.SliderR {
  width: 100%;
  padding: 20px 15px;
  border-right: none;
  border-bottom: 1px solid #cdcdcd;
}

#review-prev {
  background: url("./img/reviews/left.svg") no-repeat;
}

#review-next {
  background: url("./img/reviews/right.svg") no-repeat;
}

#review-prev,
#review-next {
  width: 17px;
  height: 32px;
  border: none;
}

#review-prev:focus,
#review-next:focus {
  outline: none;
}

.review-display {
  font-size: 28px;
  font-weight: 400;
  margin: 0 46px;
  color: #e0e0e0;
}

#review-number {
  color: #050c33;
}

.review-arrow-block {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 20px 0;
}

@media (min-width: 992px) {
  .review {
    margin-bottom: 160px;
  }
  .reviews_block {
    flex-direction: inherit;
    padding: 66px 0 66px 68px;
    margin-top: 0px;
  }
  .SliderR {
    width: 70%;
    border-right: 1px solid #cdcdcd;
    border-bottom: none;
    padding: 14px 60px;
  }
  .review-arrow-block {
    width: 30%;
  }
}

.slide {
  font-size: 14px;
  line-height: 1.2;
}

.slide:focus {
  outline: none;
}

.slide img {
  margin-bottom: 40px;
  max-width: 40%;
}

@media (min-width: 768px) {
  .slide img {
    margin-bottom: 40px;
    max-width: 30%;
  }
}

@media (min-width: 992px) {
  .slide img {
    margin-bottom: 40px;
    max-width: 40%;
  }
}

.review_text {
  font-weight: bold;
  margin-bottom: 28px;
  color: #050c33;
}

.review_by {
  color: #838b9c;
  font-weight: 500;
}
.review_by a {
  font-weight: 400;
  color: #050c33;
  text-decoration: underline;
}
.review_by a:hover {
  font-weight: 400;
  color: #050c33;
  text-decoration: none;
}

/* -----------------------NAVIGATE --------------*/
.navigate {
  font-weight: 500;
  line-height: 10px;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif; ;
  font-size: 12px;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 50;
  height: 40px;
}
.navigate__body{
  height: 50px;
}
.navigate__menu{
  position: fixed;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: #17101c;
  transition: all 0.3s ease-in;
  overflow: auto;
}
.navigate__list{
  margin-top: 30px;
  display: block;
  padding-left: 30px;
}
.navigate__list li+*{
  margin-top: 20px;
  padding-left: 0px;
}
.navigate::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #17101c;
  z-index: 2;
}
.navigate__logo {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
}
body.lock{
  overflow: hidden;
}
.arrow-menu{
  opacity: 0;
}
@media screen and (min-width:800px) {
  .arrow-menu{
    font-size: 10px;
    opacity: 1;
    padding-left: 5px;
  }
  .navigate::before{
    background-color: transparent;
  }
  .navigate{
    position: relative;
  }
    .navigate__list{
      margin-top: 0;
    }
    .navigate__menu{
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      height: initial;
      background-color: transparent;
      overflow: visible;
    }
    .navigate__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .navigate__logo {
    position: relative;
      top: 0;
      left: 0;   
  }
  .navigate__list {
    display: flex;
    position: relative;
    z-index: 2;
    margin-left: 30px;
}

  .navigate__list li +* {
    margin-top: 0;
    margin-left: 10px;
  }
  .navigate__list li {
    border-top: 8px solid transparent;
    border-bottom: 3px solid transparent;
  }
  .navigate__list li:hover {
    border-top: 8px solid transparent;
    border-bottom: 3px solid #f14d34;
  }
}
/* -------------------------BURGER----------------- */
.navigate__burger{
  display: block;
  position: absolute;
  width: 30px;
  height: 20px;
  z-index: 3;
  top: 10px;
  right: 10px;
}
.navigate__burger span{
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
}
.navigate__burger::after,.navigate__burger::before{
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #fff;
  left: 0;
  right: 0;
}
.navigate__burger::after{
  bottom: 0;
}
.navigate__burger::before{
  top: 0;
}
.navigate__burger.active::before{
  transform: rotate(45deg);
  top: 9px;
}
.navigate__burger.active::after{
  transform: rotate(135deg);
  bottom: 9px;
}
.navigate__burger.active span{
  display: none;
}
.navigate__menu.active{
  top:0;
}

@media screen and (min-width:800px) {
    .navigate__burger {
        display: none;
    }
}


  
/* -------------DROPDOWN-MENU-------------- */
   .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: static;
    padding: 0;
    font-size: 12px;
    border-radius: 0;
    border: none;
    margin-top: 0;
  }
  .dropdown-item {
    color: #fff;
    transition: all 400ms;
    padding: 8px 20px 8px 35px;
  }
  .dropdown-item:hover, .dropdown-item:focus,  .menu-item:hover, .menu-item:focus {
    color: #f14d34;
    background-color: inherit;
   
  }
  @media screen and (min-width: 800px) {
     .dropdown-menu {
      margin-top: 3px;
      max-height: 0;
      overflow: hidden;
      position: absolute;
      background-color: #f14d34;
      z-index: 1;
    }
    .dropdown-item {
      padding: 8px 20px;
      
    }
    .dropdown-item:hover, .dropdown-item:focus{
      color: #fff;
      background-color: #c33131;
    }
    .menu-item{
      padding-bottom: 3px;
    }
      .menu-item:hover, .nav-item:focus {
      color: #fff;
      background-color: transparent;
      
    }
    .menu-item.dropdown:hover .dropdown-menu {
      max-height: 150px;
    }
  }
/*--------------------------------------ClientsSliders---------------------------------------*/

.ClientsSliders_heading {
  width: 100%;
  margin-bottom: 50px;
  text-align: left;
}
@media screen and (min-width: 800px){
  .ClientsSliders_heading {
    width: 100%;
    margin-bottom: 100px;
    text-align: center;
  }
}
.ClientsSliders_text {
  margin-top: 10px;
  color:#202932;

}
@media screen and (min-width:800px){
  .ClientsSliders_text {
    max-width: 740px; 
    margin: 0 auto; 
  }
}
.cslider img {
  margin: auto;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.cslider {
  padding: 5px;
}

.cslider div {

  border-radius: 5px;

}

#Cslider2 .cslider {
  transform: translateX(50%);
}
/*---------------------------------------Team--------------------*/
.team{
  margin-bottom: 60px;
}
.team__title {
  text-align: center;
  margin-bottom: 50px;
}

.team__cards {
  margin-bottom: 30px;
}
.team__row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.item__team{
 margin-bottom: 20px;
  width: 45%;
}
.wrapper__img {
  max-width: 100%;
  margin-bottom: 10px;
}
.wrapper__img img{
  width: 100%;
}
.team__name {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}
.team__description {
  opacity: 0.7;
  font-size: 16px;
}
.btn{
  display: block;
  text-align:center;
  margin: 0 auto;  
  font-size: 20px;
  font-weight: 500;
  padding: 5px 20px;
  background-color: #fff;
  border-radius: 8px;
  border: 1.5px solid rgb(147, 144, 144);
}
.btn-team:hover{
  box-shadow: 2px 2px 2px rgb(123, 122, 122);;
}

@media screen and  (min-width: 800px) {
  .team{
    margin-bottom: 90px;
  }
  .item__team {
    /* width: 30%; */
    max-width: 280px;
    
    margin: 10px;
    padding: 0;
    /* text-align: center; */
  }
  .team__cards {
    margin-bottom: 50px;
  }
  .team__title {
    margin-bottom: 50px;
  }
  .team__row{
    justify-content: space-around;
  }
  .wrapper__img {
    /* text-align: center; */
    width: 100%;
    margin-bottom: 30px;
  }
 
  .novisible{
    display: block;
  }
  .btn-team{
    display: none;
  }
  .wrapper__img img{
    max-width: 280px
  }
  .team__description{
    max-width: 280px
  }
}